# Global properties
separator=true
separator_block_width=15

# [documentation]
# full_text=Documentation
# website=https://vivien.github.io/i3blocks
# command=xdg-open "$website"
# color=#f12711

[audio]
command=~/.config/i3blocks/audio.sh
interval=60
signal=1

[battery]
command=~/.config/i3blocks/battery.sh
interval=45

[time]
command=date '+%Y-%m-%d %H:%M:%S'
interval=1
